* {
    margin: 0px;
}

body {
    background-color: azure;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(158, 206, 208);
    padding-top: 20px;
    position: fixed;

}

a {
    /*移除連結底線*/
    text-decoration: none;
    color: rgb(81, 122, 158);
    padding: 14px 16px;
}

nav {
    padding-top: 14px;
}

.link.A {
    padding-top: 10px;
}


.container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-top: 20px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 20px auto;
}

.member {
    background-color: rgba(133, 150, 174, 0.325);
    border-radius: 10px;
    text-align: center;
    width: 300px;
    padding: 5px 5px;
    margin: 20px 10px;
}

.member img {
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
}

.experience {
    margin: 30px;
}

.name {
    font-weight: bold;
}

h2 {
    text-align: center;
}

footer {
    padding: 50px;
    background-color: rgba(158, 183, 175, 0.323);
    text-align: center;
}

button {
    font-size: 5px;
    padding: 0px;
    transition-duration: 0.4s;
}